[workspace]
resolver = "2"
members = ["compliance", "trivial_logic", "logic_test", "batch_aggregation"]

# Always optimize; otherwise tests take excessively long.
[profile.dev]
opt-level = 3

[profile.release]
debug = 1
lto = true
